/* ----------------------------------------Background Images ---------------------*/

.homepage_image {
    
    background-image: url("../images/homepage.jpg");
    width: 100%;
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.elec_image {
     background-image: url("../images/elecpage.jpg");
    width: 100%;
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;
    
}

.gas_image {
     background-image: url("../images/gaspage.jpg");
    width: 100%;
    height: auto; 
    background-repeat: no-repeat;
    background-size: cover;}
/* ------------------------------------------------ Custom CSS ---------------------*/

#bold-text {
    font-weight: 500;
}

#cover-section-jumbotron-container {
    background-color: #ffffffa6;
    border-radius: 4em;
    margin-top: 15%;
    box-shadow: 0px 0px 10px grey;
}

#footer-section {
    background-color: white;
    box-shadow: 0px 0px -10px grey;
}

/* ------------------------------------------------ Header ---------------------*/

.navalert-container {
/*
    position: absolute;
    top: 0;
    bottom: 0;
*/
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}


.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: white;
    border: 0;
    box-shadow: 10px 10px 10px #bfbfbf;
}
    
.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}


.btn_enq {
    font-weight: bold;
    border-radius: 20px;
    width: 200px;
    color: #BF2D5B;
    background-color: #D4EDCA;
    border-color: #10E51B;
}

.nav-item {
    font-size: 20px;
} 
 
.navbar-text {
    
    font-size: 18px;
    color: #343a40;
    font-family: "dr-sugiyama";
}

/* ------------------------------------------------ Section ---------------------*/

.jumbotron {
    background-color: transparent;
}

/* ------------------------------------------------ Footer ---------------------*/

footer {
  position: fixed;
  height: 160px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: wblack;
  text-align: center;
 box-shadow: 0px 0px 10px grey;
}

/* ------------------------------------------------ Form ---------------------*/


   .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
} 



